@tailwind base;
@tailwind components;
@tailwind utilities;

.colorMix {
    background: #ff00cc; 
        background: -webkit-linear-gradient(
          to right,
          #333399,
          #ff00cc
        ); 
        background: linear-gradient(
          to right,
          #333399,
          #ff00cc
        );
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
}

.colorMixBlue {
    background: rgb(118,110,242);
        background: -webkit-linear-gradient(
          to right,
          #333399,
          #1900ff
        ); 
       
        background: linear-gradient(90deg, rgba(118,110,242,1) 1%, rgba(44,61,171,1) 43%, rgba(9,64,121,1) 100%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
}

.column-div{
  background:linear-gradient(45deg, #17ada1, #47a169, #cb14bf, #f4e94f);
  background-size: 600% 600%;
  padding: 25px;
  animation: colors 6s infinite ease-in-out;
}

@keyframes colors {
  0%{
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;

  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #640557;
  border-radius: 10px;
  border: 3px dashed #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e77f4;
}
